@import './constants';

$height: 43px;
$list-padding: 5px;
$items-per-view: 7;
$delay: #{$list-transition-delay}ms;
$duration: #{$list-transition-duration}ms;

.dropd {
  color: #7a8ca0;
  user-select: none;
  text-align: left;
  min-width: 100px;
  position: relative;
  display: inline-flex;

  &[data-open='true'] .dropd-caret {
    transform: rotate(-180deg);
  }

  * {
    box-sizing: border-box;
  }
}

.dropd-toggle {
  margin: 0;
  width: 100%;
  border: none;
  padding: 10px;
  display: flex;
  cursor: pointer;
  height: $height;
  overflow: hidden;
  font-weight: normal;
  align-items: center;
  outline-color: #fff;
  white-space: nowrap;
  -webkit-appearance: none;
  background-color: #ffffff;
  border: 1px solid #e8ecf3;
  justify-content: space-between;
  -webkit-tap-highlight-color: rgba(0, 0, 0 , 0);

  &:focus {
    outline-width: 3px;
    outline-offset: -2px;
    outline-color: #2684FF;
  }
}

.dropd-caret {
  width: 6px;
  height: 100%;
  display: flex;
  outline: 0 none;
  margin-left: 20px;
  transform: rotate(0);
  transition: 300ms linear;

  svg {
    width: inherit;
    height: inherit;
    outline: inherit;
    overflow: hidden;

    use,
    path {
      outline: inherit;
      fill: currentColor;
    }
  }
}

.dropd-current {
  color: #2c3c4f;
  display: block;
  overflow: hidden;
  text-align: left;
  position: relative;
  white-space: nowrap;
}

.dropd-list {
  left: 0;
  margin: 0;
  opacity: 0;
  z-index: -9;
  width: 100%;
  list-style: none;
  text-align: left;
  box-shadow: none;
  overflow-y: auto;
  top: $height + 7;
  font-size: 0.9em;
  min-width: 200px;
  overflow-x: hidden;
  visibility: hidden;
  position: absolute;
  border-radius: 4px;
  pointer-events: none;
  transform-origin: top;
  padding: $list-padding 0;
  border: 1px solid #e8ecf3;
  background-color: #ffffff;
  transform: scaleY(0.8) translateY(-10px);
  max-height: ($height * $items-per-view) + ($list-padding * 2);
  transition: 200ms $delay, $duration $delay opacity, transform 150ms $delay;

  &.open {
    opacity: 1;
    z-index: 1000;
    visibility: visible;
    pointer-events: auto;
    transform: scaleY(1) translateY(0px);
    box-shadow: 0 4px 10px rgba(32, 49, 70, 0.08);
  }

  .dropd-item {
    margin: 0;
    color: #7a8ca0;
    cursor: pointer;
    list-style: none;
    text-align: left;
    overflow: hidden;
    padding: 13px 20px;
    white-space: nowrap;
    transition: background-color 300ms, color 100ms;

    &:not(.highlighted):hover {
      color: #2c3c4f;
      background-color: #f9fafc;
    }

    &.highlighted {
      color: #eeffff;
      background-color: #2684FF;
    }
  }
}
